<div class="login-page">

  <div class="login-left">

    <div class="login-brand">
      <h1>School Management</h1>
      <p>
        Modern School ERP for managing students, teachers,
        attendance, courses and reports.
      </p>
    </div>

    <div class="login-card">

      <h2>Admin Login</h2>

      <%= form_with url: login_path, local: true do |f| %>

        <div class="form-group">
          <label>👤 Username</label>

          <%= text_field_tag :username,
                params[:username],
                class: "login-input",
                placeholder: "Enter Username" %>
        </div>

        <div class="form-group">
          <label>🔒 Password</label>

          <div class="password-wrapper">
            <%= password_field_tag :password,
            nil,
            id: "password-field",
            class: "login-input",
            placeholder: "Enter Password" %>

            <span id="toggle-password" class="password-toggle">
              👁
            </span>
          </div>
        </div>

        <div class="login-options">

          <label class="remember-me">
            <%= check_box_tag :remember_me, "1", false %>
            Remember Me
          </label>

          <a href="#">Forgot Password?</a>

        </div>

        <%= submit_tag "Login",
              class: "login-btn" %>

      <% end %>


      

    </div>

  </div>

  <div class="login-right">

      <div class="school-icon">

          🎓

      </div>

      <h2>
        Welcome to School ERP
      </h2>

      <p>
        Manage Students, Teachers, Attendance,
        Courses, Fees and Reports
        from one dashboard.
      </p>

  </div>

</div>