<nav class="navbar-custom">

  <!-- Left -->

  <div class="navbar-left">

    <h4 class="logo">
      School Management
    </h4>

  </div>

  <!-- Right -->

  <div class="navbar-right">
      <div class="notification-wrapper">

        <%= link_to notifications_path, class: "notification-btn" do %>
          <i class="bi bi-bell"></i>
          <span class="notification-badge">3</span>
        <% end %>

        <%= render "shared/notification_dropdown" %>

      </div>
    
    <%= link_to admin_profile_path, class: "admin-profile-link" do %>
    <div class="admin-profile">
      <div class="avatar">
        <%= current_admin.name.first.upcase %>
      </div>
      <div>
        <div class="admin-name">
          <%= current_admin.name %>
        </div>
        <small>

          Administrator

        </small>

      </div>

    </div>
    <% end %>
    <%= button_to "Logout",
          logout_path,
          method: :delete,
          class: "btn btn-danger btn-sm" %>

  </div>

</nav>