<div class="py-4">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Teacher Management</h2>

    <%= link_to "Add Teacher",
                new_teacher_path,
                class: "btn btn-primary" %>

  </div>

  <% if @teachers.any? %>

    <table class="table table-bordered table-hover">

      <thead class="table-dark">

        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Education</th>
          <th>Course</th>
        </tr>

      </thead>

      <tbody>

        <% @teachers.each do |teacher| %>

          <tr>

            <td>
              <%= link_to teacher.teacher_name,
              teacher_path(teacher),
              class: "teacher-profile-link" %>
            </td>
            <td><%= teacher.email %></td>
            <td><%= teacher.phone %></td>
            <td><%= teacher.education %></td>
            <td><%= teacher.course.course_name %></td>
            <td><%= teacher.gender %></td>
          </tr>

        <% end %>

      </tbody>

    </table>

  <% else %>

    <div class="alert alert-info">
      No teachers found. Click <strong>"Add Teacher"</strong> to create your first teacher.
    </div>

  <% end %>

</div>