<div class="py-4">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Teacher Management</h2>

    <%= link_to "Add Teacher",
                new_teacher_path,
                class: "btn btn-primary" %>

  </div>

  <% if @teachers.any? %>

    <table class="table table-bordered table-hover">

      <thead class="table-dark">

        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Education</th>
          <th>Course</th>
          <th width="180">Action</th>
        </tr>

      </thead>

      <tbody>

        <% @teachers.each do |teacher| %>

          <tr>

            <td><%= teacher.teacher_name %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.phone %></td>
            <td><%= teacher.education %></td>

            <td>
              <%= teacher.course.course_name %>
            </td>

            <td>
            <div class="d-flex align-items-center gap-2">

              <%= link_to "Edit",
                edit_teacher_path(teacher),
                class: "btn btn-warning btn-sm me-2" %>

                <%= button_to "Delete",
                teacher_path(teacher),
                method: :delete,
                data: { turbo_confirm: "Are you sure?" },
                class: "btn btn-danger btn-sm d-inline" %>
                
            </div>
            </td>

          </tr>

        <% end %>

      </tbody>

    </table>

  <% else %>

    <div class="alert alert-info">
      No teachers found. Click <strong>"Add Teacher"</strong> to create your first teacher.
    </div>

  <% end %>

</div>